body {background:#444;overflow:-x:scroll;}
a { display:block;margin:10px auto;float:left;overflow:hidden;  height:300px;width:200px;-webkit-transition: all 0.5s ease-in-out; -moz-transition: all 1s ease-in-out; -o-transition: all 1s ease-in-out; -ms-transition: all 1s ease-in-out;transition: all 1s ease-in-out;}

img { border:3px solid #666;}